<!DOCTYPE html>
<html>
  <head>
    <title>FlickrClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= render 'devise/menu/user_name' %>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </nav>
    <%= yield %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
  </body>
</html>
